<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hppy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style_main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        @media screen and (max-width: 1200px) {
            .frm {
                display: none;
            }
        }

    </style>
</head>
<body>
<header>
    <div class="header1">
        <ul>
            <li><a href="/mentors">멘토 지원</a></li>
            <li><a href="/notices">공지사항</a></li>
            {{#userEmail}}
                <li>
                    <a href="/login">로그인</a>
                </li>
            {{/userEmail}}
            {{^userEmail}}
                <li>
                    <a href="/logout">로그아웃</a>
                </li>
            {{/userEmail}}

<!--            <li>-->
<!--                <p sec:authorize="isAnonymous()"><a th:href="'/login'">로그인</a></p>-->
<!--                <p sec:authorize="isAuthenticated()"><a th:href="'/logout'">로그아웃</a></p>-->
<!--            </li>-->
        </ul>
    </div>

    <div class="header2">
        <ul id="ul1">
            <li>
                <a href="/category" >
                    <img src="/img/menu-icon.png" alt="" width="40px" height="40px" >
                </a>
            </li>

            <li>
                <div class="main_img">
                    <a href="/main">
                        <img src="/img/swimming-pool.png" alt="" width="40px" height="40px">
                        <h2 style="display:inline;margin-left:15px">Hppy</h2>
                    </a>
                </div>
            </li>
            <li>
                <form class="frm" name="categorysearch" >
                    <input type="search" id = "category" placeholder="Search..."/>
                    <button onclick="filter()" style="border: none; background: transparent;"><img src="/img/search.png" style="width: 20px; background: transparent;"></button>
                </form>
            </li>
        </ul>

        <ul id="ul2">
            <li>
                <a href="/lists">
                    <img src="/img/chat.png" alt="" width="30px" height="30px">
                </a>
            </li>

            <li>
                <a href="/mypage" style="float : right; padding: 2px 10px">
                        <input type="image" id="picture1" src="{{userPicture}}" alt="" width="35px" height="35px" style="max-width: 35px" >
                </a>
            </li>
        </ul>
    </div>
</header>