@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


iframe{
  border: none;
  margin-left: 20vw;
  padding: 0;
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}
