.board_host_main {
    width: 60vw;
    margin-left: 20vw;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #95999c;
}
.board_host_main_img {
}
.board_host_main_img img{
    width: 30vw;
    border-radius: 12px;
}
.board_host_main_desc {
    width: 30vw;
    margin-left: 20px;
}
.board_host_page {
    width: 60vw;
    margin-left: 20vw;
    margin-top: 20px;
}
.board_host_page img{
    width: 60vw;
    margin-top: 20px;
}
/* Position text in the middle of the page/image */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px -10px 30px -10px;
    background-color: white;
    z-index: 200;
}