<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자유게시판</title>
<!--  <link rel="stylesheet"-->
<!--        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
<!--        crossorigin="anonymous">-->

  <link rel="stylesheet" href="/css/style_main.css">
  <script type = "text/javascript" src = "/js/script_search.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    /*html{position:relative;min-height:100%;}*/
    body{
      margin-bottom:60px;
    }

    body > .container{
      padding:60px 15px 0;
    }
  </style>
</head>
<body>
<header>
  <div class="header1">
    <ul>
      <li><a th:href="'/mentors'">멘토 지원</a></li>
      <li><a th:href="'/notices'">공지사항</a></li>
      <li>
        <p sec:authorize="isAnonymous()"><a th:href="'/login'">로그인</a></p>
        <p sec:authorize="isAuthenticated()"><a th:href="'/logout'">로그아웃</a></p>
      </li>
    </ul>
  </div>

  <div class="header2">
    <ul id="ul1">
      <li>
        <a href="/category" >
          <img src="/img/menu-icon.png" alt="" style="max-width: 40px; width: 10vw">
        </a>
      </li>

      <li>
        <div class="main_img">
          <a href="/main">
            <img src="/img/swimming-pool.png" alt="" style="max-width: 40px; width: 100%">
            <h2 style="display:inline;margin-left:15px">Hppy</h2>
          </a>
        </div>
      </li>

      <li>
        <form class="frm" name="categorysearch" >
          <input type="search" id = "category" placeholder="Search..."/>
          <button onclick="filter()" style="border: none; background: transparent;"><img src="/img/search.png" style="width: 20px; background: transparent;"></button>
        </form>
      </li>
    </ul>

    <ul id="ul2">
      <li>
        <a href="/lists">
          <img src="/img/chat.png" alt="" width="30px" height="30px">
        </a>
      </li>

      <li>
        <a href="mypage" style="float : right;">
          <th:block th:if="${userPicture != null}">
            <input type="image" id="picture1" th:src="${userPicture}" alt="" width="35px" height="35px">
          </th:block>
        </a>
      </li>
    </ul>

  </div>
</header>

<div class="container" style="margin-left: 20vw; width: 60vw;">
  <div class="page-header">
    <h1>게시글 목록</h1>
  </div>
  <br>

  <div id="mainHide">
<!--    <table class="table table-hover">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th class="col-md-1">#</th>-->
<!--        <th class="col-md-4">제목</th>-->
<!--        <th class="col-md-2">작성자</th>-->
<!--        <th class="col-md-2">작성일</th>-->
<!--        <th class="col-md-5">조회수</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr th:each="board : ${boardList}">-->
<!--        <td th:text="${board.id}"></td>-->
<!--        <td><a th:href="'/admin/posts/'+${board.id}" th:text="${board.title}"></a></td>-->
<!--        <td th:text="${board.user.nickname}"></td>-->
<!--        <td th:text="${board.modifiedDate} ?-->
<!--                    ${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')} : ${board.modifiedDate}"></td>-->
<!--        <td th:text="${board.viewCount}"></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
    <table class="table custom-table">
      <thead>
      <tr>
        <th scope="col" style="width: 10%;">글 번호</th>
        <th scope="col" style="width: 30%; text-align: center">제목</th>
        <th scope="col" style="width: 30%;">작성자</th>
        <!--          <th scope="col" style="width: 10%;"></th>-->
        <th scope="col" style="width: 20%;">작성일</th>
        <th scope="col" style="width: 10%;">조회수</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="'/admin/posts/'+${board.id}" th:text="${board.title}"></a></td>
        <td style="display: flex; align-items: center">
          <a href="#">
            <img th:src="${board.user.picture}" alt="Person" class="img-thumbnail" style="border-radius: 70%; width:40px; min-width: 40px;">
          </a>
          <p th:text="${board.user.nickname}"></p>
        </td>
        <td th:text="${board.modifiedDate} ?
                    ${#temporals.format(board.modifiedDate,'yyyy-MM-dd HH:mm')} : ${board.modifiedDate}"></td>
        <td th:text="${board.viewCount}"></td>
      </tr>
      </tbody>

    </table>
  </div>

  <a href="/main" class="btn btn-outline-info">홈으로</a>
</div>

<br>
<nav aria-label="Page navigation" style="text-align:center; margin-left:20vw; width: 60vw;">
  <ul class="pagination justify-content-sm-around align-self-center" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">

    <li><a aria-label="Previous" href="/admin/board/lists?page=1" class="btn btn-outline-dark" role="button">&laquo;</a></li>
    <li th:style="${boardList.first} ? 'display:none'">
      <a th:href="@{/lists(page=${boardList.number})}">&lsaquo;</a>
    </li>

    <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">
      <a th:href="@{/admin/board/lists(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
    </li>

    <li th:style="${boardList.last} ? 'display:none'">
      <a th:href="@{/lists(page=${boardList.number}+2)}">&rsaquo;</a>
    </li>
    <li><a aria-label="Next" th:href="@{/admin/board/lists(page=${boardList.totalPages})}" class="btn btn-outline-dark" role="button">&raquo;</a></li>
  </ul>
</nav>

</body>
</html>

