{{>layout/header}}
<article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->

    <div class="container" role="main" style="margin-top: 20px; width: 60vw; margin-left: 20vw;">
        <h1>후기 작성</h1>
        <form>

            <div class="mb-3">
                <input type="hidden" class="form-control border-right-0 border-left-0 border-top-0" id="id" value="{{gallery.id}}" readonly>
            </div>

            <div class="mb-3">
                <label for="author">작성자</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="writer" value="{{userName}}" readonly>
            </div>

            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control border-right-0 border-left-0 border-top-0" id="content" style="height:50%; min-height: 350px" placeholder="댓글 내용을 입력하세요"></textarea>
                <!--                <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>-->
            </div>

        </form>

        <div align="left">
                <a href="/category" role="button" class="btn btn-outline-secondary">취소</a>
            <div style="width: 90px; float: right">
                <button type="button" class="btn btn-outline-success btn-block" id="btn-gallerycomment">등록</button>
            </div>
        </div>
    </div>

</article>

{{>layout/footer}}