<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/style_login.css">
  </head>
  <style>
    @media (max-width:600px) {
      #white1{
          width : 100vw;
          height : 100vh;
          align : center;
      }
    }
  </style>
  <body>


    <div class="login1">

      <div class="page-header">
        <h1>Login</h1>
      </div>

      <div class="item">

        <a href="javascript:;" class="btn_social" data-social="google">
          <img src="/img/btn_google_k.png" alt="" id="google">
        </a>

        <a href="javascript:;" class="btn_social" data-social="kakao">
          <img src="/img/btn_kakao.png" alt="" id="kakao">
        </a>

        <a href="javascript:;" class="btn_social" data-social="naver">
          <img src="/img/btn_naver.png" alt="" id="naver">
        </a>

      </div>

    </div>

    <script>
      let socials = document.getElementsByClassName("btn_social");
      for (let social of socials) {
        social.addEventListener('click', function () {
          let socialType = this.getAttribute('data-social');
          location.href="/oauth2/authorization/" + socialType;
        })
      }
    </script>
  </body>


</html>
