{{>layout/header}}
<article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

    <div class="container" role="main" style="margin-top: 20px; width: 60vw; margin-left: 20vw;">

        <form>

            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="title" placeholder="제목을 입력하세요">
            </div>

            <div class="mb-3">
                <label for="author">작성자</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="author" value="{{userName}}" readonly>
            </div>

            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control border-right-0 border-left-0 border-top-0" id="content" style="height:50%; min-height: 350px" placeholder="내용을 입력하세요"></textarea>
            </div>

            <div class="mb-3">
                <label for="htype">카테고리</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="htype" placeholder="카테고리를 입력하세요">
            </div>

            <div class="mb-3">
                <label for="career">경력</label>
                <input type="number" class="form-control border-right-0 border-left-0 border-top-0" id="career" placeholder="경력을 입력하세요">
            </div>

        </form>
        <div align="left">
                <a href="/mentors" role="button" class="btn btn-outline-secondary">취소</a>
            <div style="width: 90px; float: right">
                <button type="button" class="btn btn-outline-success btn-block" id="btn-mentorsave">등록</button><br>
            </div>
        </div>
    </div>

</article>

{{>layout/footer}}