<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <title>공지사항</title>
    <!--  <link rel="stylesheet"-->
    <!--        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
    <!--        crossorigin="anonymous">-->

    <link rel="stylesheet" href="/css/style_main.css">
    <style>
        /*html{position:relative;min-height:100%;}*/
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
    </style>
</head>
<body>
<header>
    <div class="header1">
        <ul>
            <li><a th:href="'/mentors'">멘토 지원</a></li>
            <li><a th:href="'/notices'">공지사항</a></li>
            <li>
                <p sec:authorize="isAnonymous()"><a th:href="'/login'">로그인</a></p>
                <p sec:authorize="isAuthenticated()"><a th:href="'/logout'">로그아웃</a></p>
            </li>
        </ul>
    </div>

    <div class="header2">
        <ul id="ul1">
            <li>
                <a href="/category" >
                    <img src="/img/menu-icon.png" alt="" width="40px" height="40px" >
                </a>
            </li>

            <li>
                <div class="main_img">
                    <a th:href="'/main'">
                        <img src="/img/swimming-pool.png" alt="" width="40px" height="40px">
                        <h2 style="display:inline;margin-left:15px">Hppy</h2>
                    </a>
                </div>
            </li>
            <li>
                <form class="frm" name="categorysearch" >
                    <input type="search" id = "category" placeholder="Search..."/>
                    <button onclick="filter()" style="border: none; background: transparent;"><img src="img/search.png" style="width: 20px; background: transparent;"></button>
                </form>
            </li>
        </ul>

        <ul id="ul2">
            <li>
                <a href="lists">
                    <img src="/img/chat.png" alt="" width="30px" height="30px">
                </a>
            </li>

            <li>
                <a href="mypage" style="float : right;">
                    <th:block th:if="${userPicture != null}">
                        <input type="image" id="picture1" th:src="${userPicture}" alt="" width="35px" height="35px">
                    </th:block>
                </a>
            </li>
        </ul>
    </div>
</header>

<div style="display: flex;margin-left: 20vw;">
    <div style="width: 30vw; ">
        <img src="/img/announce.jpg" width="100%">
    </div>

    <div style="width: 30vw;display: flex;justify-content: center;align-items: center">
        <h1>공지사항</h1>
    </div>
</div>

<div class="content" style="margin-left: 20vw; width: 60vw;">
    <div class="container">
        <div class="float-right" style="width:100px;margin:10px 0;">
<!--            <a href="/notices/save" class="btn btn-outline-dark btn-block">등록</a>-->
            <li sec:authorize="hasRole('ADMIN')" class="btn btn-outline-dark btn-block"><a th:href="'/notices/save'">등록</a></li>
<!--            <button type="button" class="btn btn-outline-dark btn-block" id="btn-noticesave1">등록</button>-->
        </div>
        <br/><br/>

        <div class="table-responsive">
            <table class="table custom-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%;">글 번호</th>
                    <th scope="col" style="width: 50%;">제목</th>
                    <th scope="col" style="width: 10%;">작성자</th>
                    <th scope="col" style="width: 20%;">작성일</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="notice : ${noticeList}">
                    <td th:text="${notice.id}"></td>
                    <td><a th:href="'/notices/'+${notice.id}" th:text="${notice.title}"></a></td>
                    <td th:text="${notice.author}"></td>
                    <td th:text="${notice.modifiedDate} ?
                    ${#temporals.format(notice.modifiedDate,'yyyy-MM-dd HH:mm')} : ${notice.modifiedDate}"></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<nav aria-label="Page navigation" style="text-align:center;">
    <ul class="pagination justify-content-center align-self-center" th:with="startNumber=${T(Math).floor(noticeList.number/10)}*10+1, endNumber=(${noticeList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${noticeList.totalPages}">
        <li><a aria-label="Previous" href="/notices/nlist?page=1" class="btn btn-light" role="button">&laquo;</a></li>
        <li th:style="${noticeList.first} ? 'display:none'">
            <a th:href="@{/notices(page=${noticeList.number})}">&lsaquo;</a>
        </li>

        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${noticeList.number}+1) ? 'active'">
            <a th:href="@{/notices(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
        </li>

        <li th:style="${noticeList.last} ? 'display:none'">
            <a th:href="@{/notices(page=${noticeList.number}+2)}">&rsaquo;</a>
        </li>
        <li><a aria-label="Next" th:href="@{/notices(page=${noticeList.totalPages})}" class="btn btn-light" role="button">&raquo;</a></li>
    </ul>
</nav>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<script type="text/javascript" src="/js/script_main.js"></script>
<script type="text/javascript" src="/js/script_role.js"></script>
<script type="text/javascript" src="/js/script_search.js"></script>
<script type = "text/javascript" src = "/js/script_search.js"></script>
<script type="text/javascript" language="javascript"></script>
</body>
</html>
