{{>layout/header}}
<article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <div class="container" role="main" style="margin-top: 20px; width: 60vw; margin-left: 20vw;">

        <form>
            <div class="row float-right">
                <div class="mb-3 form-group form-inline col-md-6">
                    <label for="title" class="col-md-6 float-left" style="font-size: 8px;">게시글 번호</label>
                    <input type="text" class="form-control border-right-0 border-left-0 border-top-0 col-md-6" id="id" value="{{notice.id}}" style="font-size: 8px;" readonly>
                </div>

                <div class="mb-3 form-group form-inline col-md-6" style="font-size: 8px;">
                    <label for="author" class="col-md-4 float-left">작성자</label>
                    <input type="text" class="form-control border-right-0 border-left-0 border-top-0 col-md-8" id="author" value="{{notice.author}}" style="font-size: 8px;" readonly>
                </div>
            </div>
            <br><br>

            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="title" value="{{notice.title}}" readonly>
            </div>

            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control border-right-0 border-left-0 border-top-0" id="content" style="height:50%; min-height: 350px" readonly>{{notice.content}}</textarea>
            </div>

        </form>

        <div align="left">
                <a href="/notices" role="button" class="btn btn-outline-info">뒤로</a>
            <div class="float-right">
            {{#notice}}
                <button type="button" class="btn btn-outline-warning btn-block" id="btn-noticeupdate1">수정하기</button>
            {{/notice}}
            </div>
        </div>

    </div>

</article>
{{>layout/footer}}