{{>layout/header}}
<article>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <div class="container" role="main" style="margin-top: 20px; width: 60vw; margin-left: 20vw;">

        <form>
            <div class="mb-3">
                <label for="title">글 번호</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="id" value="{{notice.id}}" readonly>
            </div>
            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="title" value="{{notice.title}}">
            </div>
            <div class="mb-3">
                <label for="author">작성자</label>
                <input type="text" class="form-control border-right-0 border-left-0 border-top-0" id="author" value="{{notice.author}}" readonly>
            </div>
            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control border-right-0 border-left-0 border-top-0" id="content" style="height:50%; min-height: 350px">{{notice.content}}</textarea>
            </div>

        </form>
        <div align="left">
                <a href="/notices/+{{notice.id}}" role="button" class="btn btn-outline-secondary">취소</a>
                <button type="button" class="btn btn-outline-danger" id="btn-noticedelete">삭제</button>
            <div style="width: 90px; float: right">
                <button type="button" class="btn btn-outline-success btn-block" id="btn-noticeupdate2">등록</button><br>
            </div>
        </div>
    </div>

</article>

{{>layout/footer}}