{{>layout/header}}

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성시간</th>
    </tr>
    </thead>
    {{#searchList}}
        <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/{{id}}">{{title}}</a></td>
            <td>{{user.nickname}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
        </tbody>
    {{/searchList}}
</table>

{{>searchForm}}

{{>layout/footer}}